.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div { font-size: 10px; }
/* ::::: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 ::::: */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url('hgo13k-tfspn0qi1sfduft8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url('2ux7wltfw3w8tcltuvlfyq.woff') format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uut8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url('d-6iyplofoccackzxwxsod8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@media screen {
  .gm-style .gmnoscreen, .gmnoscreen { display: none; }
}
.gm-style { font-family: Roboto,Arial,sans-serif; font-size: 11px; font-weight: 400; text-decoration: none; }
/* ::::: http://phobia.ru/static/css/normalize.css ::::: */

html { font-family: sans-serif; background:#000;height:100%;}
body { margin: 0px;background:#000; height: 100%; }
audio:not([controls]) { display: none; height: 0px; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
/* ::::: http://phobia.ru/static/css/baron.css ::::: */

.scroller {   width: 100%; height: 100%; border: 0px none; }
.scroller__track { display: none; position: absolute; bottom: 0px; left: 4px; right: 4px; height: 10px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); border-radius: 5px; }
.scroller__bar { position: absolute; z-index: 1; bottom: 0px; height: 10px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3); border-radius: 5px; }
/* ::::: http://phobia.ru/static/css/main.css ::::: */

html, button, input, select, textarea { color: rgb(34, 34, 34); }
html { font-size: 1em; line-height: 1.4; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(179, 212, 252); text-shadow: none; }
audio, canvas, img, video { vertical-align: middle; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix {  }
@media only screen and (min-width: 35em) {
}
/* ::::: http://phobia.ru/static/css/style.css?v=12 ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url('opensans-regular-webfont.eot');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url('opensans-semibold-webfont.eot');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url('opensans-bold-webfont.eot');
}
@font-face {
  font-family: "Rouble";
  font-style: normal;
  src: url('rouble.otf');
}
a { color: rgb(255, 255, 255); text-decoration: none; transition: color 0.3s ease 0s; }
a:hover { color: rgb(255, 213, 0); transition: color 0.3s ease 0s; }
html, body { margin: 0px; padding: 0px; }
html { height: 100%; }
body {  color: rgb(255, 255, 255); position: relative; min-height: 100%; }
body, table { font-family: 'Open Sans',sans-serif; font-size: 13px; }
#container, .popup_container { margin: 0px auto; padding: 0px 0px 100px; min-width: 900px; position: relative;background: #000 url('../img/bg.png')  repeat-x ; }
#container .content {  }
#ground { position: absolute; min-width: 900px; width: 100%; height: 100%; overflow: hidden; }
.header { position: relative; height: 130px; padding: 0px 20px; overflow: hidden; }
#site_logo { position: absolute; top: 20px; left: 50%; width: 330px; height: 65px; margin-left: -175px; padding: 5px 10px; background-size: 330px 65px; z-index: 20; }
#site_logo a {width: 330px; height: 65px; display:block; }
.site_logo_ru { background: url('../img/logo.png') no-repeat scroll 50% 50% transparent; }
@media only screen and (max-device-width: 1080px) {
  #site_logo { background-size: 550px 500px; height: 74px; width: 35px; margin-left: -18px; }
  .site_logo_ru { background: url('../img/icons@2x.png') no-repeat scroll -393px -226px transparent; }
}
#container .content, .popup_open #global_map, .main_header .nav_icon { opacity: 1; transition: opacity 0.5s ease 0s; }

.header .nav_icon {  height: 30px; display: inline-block; 
border:1px solid #fff;border-radius:5px ; margin: 15px 0px 0px; padding: 0 0px; text-align: center; -moz-user-select: none; position: relative; z-index: 10; }

.header .nav_icon_left { margin-right: 30px; margin-top: 35px; float: left;}
.header .nav_icon_right { float: right; margin-left: 30px; margin-top: 35px; }
.header .nav_icon a { float: left ;  height: 30px;display: inline-block;   
position: relative; margin: 0px auto; padding :6px 6px; text-align: center; vertical-align: top;
 text-decoration: none;text-transform: uppercase;  cursor: pointer; color: rgb(255, 255, 255); transition: color 0.3s ease 0s; }
.header .i2 .icon  { background:#fff url('../img/i1.png') 4px 4px no-repeat ; z-index: 2; }
.header .i1  .icon { background:#fff url('../img/i2.png') 4px 4px no-repeat ; z-index: 2; }
.header .i3  .icon { background:#fff url('../img/i3.png') 4px 4px no-repeat ; z-index: 2; }
.header .i4 .icon{ background:#fff url('../img/i4.png') 4px 4px no-repeat ; z-index: 2; }
 .header  .icon{ float: left ; height: 30px;width: 30px; }
 
.nav_icon:hover  {  border:1px solid #ffd500;}
.nav_icon:hover   a {  color:#ffd500;}
.i2:hover .icon  { background:#ffd500 url('../img/i1.png') 4px 4px no-repeat ; z-index: 2; }
.i1:hover .icon { background:#ffd500 url('../img/i2.png') 4px 4px no-repeat ; z-index: 2; }
.i3:hover .icon { background:#ffd500 url('../img/i3.png') 4px 4px no-repeat ; z-index: 2; }
.i4:hover .icon{ background:#ffd500 url('../img/i4.png') 4px 4px no-repeat ; z-index: 2; }
 
 
.round_button, .round_input input, .round_input textarea { position: relative; display: inline-block; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); padding: 5px 10px 7px; border-radius: 15px; margin: 0px; font-weight: normal; color: rgb(255, 255, 255); transition: all 0.2s ease 0s; -moz-box-sizing: border-box; text-align: center; text-decoration: none; }
.round_button { cursor: pointer; -moz-user-select: none; font-weight: 600; }
.round_button:before { content: ""; display: block; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; border: 1px solid rgba(255, 255, 255, 0.01); border-radius: 100px; transition: all 0.2s ease 0s; }
.round_button:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3); border-color: rgb(255, 213, 0); color: rgb(255, 213, 0); transition: all 0.2s ease 0s; }
.round_button:hover:before { border-color: rgb(255, 213, 0); color: rgb(255, 213, 0); transition: border-color 0.2s ease 0s; }
.round_button:active:before { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2); }
.round_button:focus, .round_input input:focus, .round_input textarea:focus { outline: medium none; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); box-shadow: 0px 0px 2px rgb(255, 255, 255) inset; transition: all 0.2s ease 0s; }
#schedule_tab h2 { text-align: center; }
#calendar { margin: 20px 0px 40px; padding: 0px 20px; cursor: default; -moz-user-select: none; font-weight: 600; }
#today { text-align: center; float: left; }
#today .date { width: 135px; }
#today .day { margin: 3px 0px 0px; padding: 0px; display: block; font-size: 80%; cursor: default; }
#line { margin-left: 160px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 100px; white-space: nowrap; position: relative; }
#line .one_day { position: relative; text-align: center; margin: 0px; display: inline-block; width: 3.2%; -moz-box-sizing: border-box; }
#line .date { cursor: pointer; font-weight: 600; padding: 5px 0px 7px; }
#line .day { position: absolute; display: block; margin: 4px 0px 0px; padding: 0px; font-size: 80%; color: rgb(187, 187, 187); left: 0px; right: 0px; }
#line .holiday, #line .holiday .day { color: rgb(255, 187, 0); }
#line .booked { opacity: 0.2; }
#line .booked .date { cursor: default; }
#line .selection { position: absolute; top: 0px; bottom: 0px; width: 32px; /*transition: all 0.2s ease 0s;*/ }
#line .selection:after { content: ""; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); border: 2px solid rgb(255, 255, 255); border-radius: 100px; margin: -2px; -moz-box-sizing: border-box; }
#schedule { cursor: default; -moz-user-select: none; }
#schedule .schedule_body { position: relative; margin-left: 180px; }
#schedule .scroller {   height: auto ! important; }
#schedule .scroller_container {  }
.header_lines { padding-top: 25px; }
.quest_line{ border-bottom: 1px solid #333;}
#schedule .scroller_inner { min-width: 1000px; width: 100%; }
#schedule .time_gradient { width: 100%; height: 25px; overflow: hidden; position: relative; }
#schedule .time_gradient .hours_wrapper { padding: 3px 20px 0px 15px; position: absolute; top: 0px; left: 0px; width: 100%; -moz-box-sizing: border-box; }
#schedule .time_gradient .hours { position: relative; width: 100%; height: 10px; }
#schedule .time_gradient .hours div { position: absolute; width: 2em; margin-left: -1em; text-align: center; top: 0px; }
#schedule .date_gradient { height: 25px; overflow: hidden; padding: 3px 10px 0px; -moz-box-sizing: border-box; position: relative; }
#schedule .date_gradient img { position: absolute; left: 0px; top: 0px; z-index: 1; }
#schedule .date_gradient ins { position: relative; text-decoration: none; z-index: 2; }
#schedule .quest_schedule { position: relative; height: 56px; margin-bottom: 2px; padding: 10px 65px 0px 15px; border-bottom:1px solid #333;}
#schedule .quest_schedule .timeslots { width: 100%; position: relative; height: 31px; }
#schedule .quest_schedule .pricelines { width: 100%; position: relative; height: 11px; }
#schedule .quest_schedule .slot { position: absolute; padding: 5px 2px 6px; }
#schedule .quest_schedule .booked { color: rgba(255, 255, 255, 0.4); background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); border: 1px solid rgba(0, 0, 0, 0.01); cursor: default; }
#schedule .quest_schedule .booked:hover { color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(0, 0, 0, 0.01); }
#schedule .quest_schedule .booked:before { display: none; }
#schedule .price_block { position: absolute; bottom: -5px; height: 10px; }
#schedule .price_block .price_value { width: 100%; text-align: center; font-size: 80%; font-weight: 700; line-height: 10px; }
#schedule .price_block .line { position: absolute; top: 50%; width: 50%; height: 6px; margin-top: -6px; }
#schedule .price_block .left_line { left: 0px; }
#schedule .price_block .right_line { right: 0px; }
#schedule .price_block .line ins { display: block; height: 6px; border-bottom: 1px solid rgb(255, 255, 255); margin: 0px 1.8em 0px 0px; -moz-box-sizing: border-box; }
#schedule .price_block .right_line ins { margin: 0px 0px 0px 1.8em; }
#schedule .price_block .left_line ins { border-left: 1px solid rgb(255, 255, 255); }
#schedule .timeslots_header { float: left; width: 180px; -moz-box-sizing: border-box; }
#schedule .timeslots_header .header_line { height: 56px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); padding: 5px 10px; margin-bottom: 2px; }
#schedule .timeslots_header .header_line h3 { font-size: 14px; line-height: 1.3; margin: 0px; }
#schedule .timeslots_header .header_line p { font-size: 80%; margin: 5px 0px 0px; }
.second_navigation { text-align: center; }
.message { margin: -26px 0px 3em;  position: relative; z-index: 10; }
.message p { width: 70%; font-weight: 600; font-size: 16px; text-align: center; margin: 1em auto; }
.tabs { display: inline-block; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); 
border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 5px; margin: 0px auto;
 cursor: pointer; transition: all 0.2s ease 0s; font-weight: 600; position: relative; -moz-user-select: none; z-index: 10; }
.tabs .tab { position: relative; display: inline-block; margin: -1px; padding: 15px 0px 15px; transition: color 0.2s ease 0s; width: 10em; text-align: center; -moz-box-sizing: border-box; z-index: 2; }
.tabs .tab:hover { color: rgb(255, 213, 0); }
.tabs .tab:active { color: rgb(237, 196, 0); }
.tabs .selection { 
background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2); 
border-radius: 5px; z-index: 1; margin: -1px; -moz-box-sizing: border-box; /*transition: transform 0.2s ease 0s, left 0.2s ease 0s;*/ }
.tab_page { margin-top: 3em; }
.tab_margin { padding: 0px 30px; }
.quest_mini_card { display: block; width: 100%; position: relative; text-decoration: none; z-index: 2; cursor: default; }
.quest_mini_card.enabled { cursor: pointer; }
.quest_mini_card.enabled, .quest_mini_card.enabled a { color: rgb(255, 255, 255); transition: color 0.5s ease 0s; }
.quest_mini_card.enabled:hover, .quest_mini_card.enabled:hover a { color: rgb(255, 213, 0); transition: color 0.5s ease 0s; }
.quest_mini_card .frame { height: 280px; padding: 105px  25px 25px 25px; overflow:hidden;
position: relative; z-index: 3; border: 2px solid rgb(255, 255, 255); transition: border-color 0.5s ease 0s, box-shadow 0.5s ease 0s; margin: 5px; }
.quest_mini_card .frame:hover{box-shadow: 0px 0px 25px 15px #000;}
 
.quest_mini_card.enabled:hover .frame { border-color: rgb(255, 213, 0); }
.quest_mini_card .blur, .quest_mini_card .unblur { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-size: cover; background-position: 50% 50%; z-index: 1; }
.quest_mini_card .unblur { z-index: 2; }
.quest_mini_card.enabled:hover { z-index: 10; }
.quest_mini_card.enabled:hover .unblur { opacity: 1; }

.bottom  { position:absolute; width:100%;bottom:0; left:0; background: url('../img/000.png');padding-bottom: 15px;  }


.quest_mini_card h2, .city_card h2, .profile_quest_list p.value { font-size: 26px; font-weight: 600; line-height: 1.3; text-decoration: none; margin: 0px; padding: 0px; }

.quest_mini_card .quest_top_info { height: 75px;width: 75px;  float: left; margin: 0 20px 40px 0;  overflow: hidden; }
.quest_mini_card .gamers_count { padding: 10px;background: url('../img/000.png'); position: absolute; top: 0; left: 0; }
.quest_mini_card .gamers_count p { margin: -4px 0px 0; }
.quest_mini_card .quest_logo { float: left; width: 75px; height: 75px; position: relative; }
.quest_mini_card .quest_logo .image, .quest_mini_card .quest_logo .hover { width: 76px; height: 76px; position: absolute; top: 0px; left: 0px; z-index: 1; background-repeat: no-repeat; background-position: 0px 0px; background-size: 155px 75px; transition: opacity 0.3s ease 0s; }
.quest_mini_card .quest_logo .hover { background-position: -80px 0px; opacity: 0; z-index: 2; }
.quest_mini_card.enabled:hover .quest_logo .hover { opacity: 1; }
.quest_mini_card .location_info {   bottom: 20px; font-weight: 700;margin-left : 100px;}

.bottom  .h2 {  margin-left : 100px;}
.bottom  .h2  h2 { margin: 0px 0px 0px;float: left;min-width: 100%;text-transform :uppercase; }
.bottom  .img { width: 65px;height: 65px; position:absolute;bottom:20px;left:20px; }

/*
.quest1 .bottom  .img {  background: url('1.png')  no-repeat;}
.quest1 .unblur{  background-image: url('1.jpg');}
.quest2 .bottom  .img {  background: url('2.png') no-repeat;}
.quest2 .unblur{  background-image: url('2.jpg');}
.quest3 .bottom  .img {  background: url('3.png') no-repeat;}
.quest3 .unblur{  background-image: url('3.jpg');}
.quest4 .bottom  .img {  background: url('4.png') no-repeat;}
.quest4 .unblur{  background-image: url('4.jpg');}
.quest5 .bottom  .img {  background: url('5.png') no-repeat;}
.quest5 .unblur{  background-image: url('5.jpg');}
.quest6 .bottom  .img {  background: url('6.png') no-repeat;}
.quest6 .unblur{  background-image: url('6.jpg');}
.quest7 .bottom  .img {  background: url('7.png') no-repeat;}
.quest7 .unblur{  background-image: url('7.jpg');}
.quest8 .bottom  .img {  background: url('8.png') no-repeat;}
.quest8 .unblur{  background-image: url('8.jpg');}
.quest9 .bottom  .img {  background: url('9.png') no-repeat;}
.quest9 .unblur{  background-image: url('9.jpg');}
*/


.quest_mini_card .location_info p { margin: 7px 7px 0px; float: left;  }
.gamers_count .figurines ins, .gamers_count .figurines del { display: inline-block; width: 12px; height: 20px; margin-right: 10px; position: relative; }
.gamers_count .figurines ins:before, .gamers_count .figurines del:before, .gamers_count .figurines ins:after, .gamers_count .figurines del:after { content: ""; position: absolute; background: url('../img/icons@2x.png') no-repeat scroll -361px -310px / 550px 500px transparent; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 1; transition: opacity 0.3s ease 0s; }
.gamers_count .figurines del:after { background-position: -361px -350px; opacity: 0; }
.gamers_count .figurines ins:before { background-position: -344px -310px; }
.gamers_count .figurines ins:after { background-position: -344px -350px; opacity: 0; }
.quest_mini_card.enabled:hover .gamers_count .figurines ins:before, .quest_mini_card.enabled:hover .gamers_count .figurines del:before { opacity: 0.5; }
.quest_mini_card.enabled:hover .gamers_count .figurines ins:after, .quest_mini_card.enabled:hover .gamers_count .figurines del:after { opacity: 1; }
.small_icon { padding-left: 23px; position: relative; }
.small_icon_empty { padding-left: 23px; position: relative; }
.small_icon:before, .small_icon:after { content: ""; position: absolute; background: url('../img/icons@2x.png') no-repeat scroll -8px -209px / 550px 500px transparent; width: 17px; height: 20px; top: 50%; left: 0px; margin-top: -10px; opacity: 1; transition: opacity 0.3s ease 0s; }
.small_icon:after { background-position: -32px -209px; opacity: 0; }
.quest_mini_card.enabled:hover .small_icon:before { opacity: 0.5; }
.quest_mini_card.enabled:hover .small_icon:after { opacity: 1; }
.small_icon.email:before { background-position: -8px -233px; }
.small_icon.email:after { background-position: -32px -233px; }
.small_icon.address:before { background-position: -8px -282px; }
.small_icon.address:after { background-position: -32px -282px; }
.main_quest_list { padding: 2px; -moz-box-sizing: border-box; width: 100%; margin: 0px auto;}
.main_quest_list .quest_mini_card { float: left; width: 33.33%; }
.main_quest_list .quest_mini_card .frame { }
#global_map { display: none; position: absolute; width: 100%; height: 600px; z-index: 3; background-color: rgb(34, 34, 34) ! important;margin-top: 40px; }
.long_text { font-size: 16px; width: 67%; min-width: 800px; max-width: 1200px; margin: 0px auto; }
@media only screen and (max-width: 1200px) {
  .main_quest_list .quest_mini_card { width: 50%; }
}
@media only screen and (max-width: 700px) {
  .main_quest_list .quest_mini_card { float: none; width: auto; }
}
@media not all, only screen and (min-resolution: 144dpi) {
  /.message { /*background-image: url('../img/brace@2x.png');*/ }
}
#change_lang_button { float: right; margin-right: -36px; cursor: pointer; width: 26px; height: 26px; background-size: 550px 500px; }
@media only screen and (max-device-width: 1080px) {
  #change_lang_button { margin-right: -26px ! important; }
}
.small_ru_icon { background: url('../img/icons@2x.png') no-repeat scroll -450px -204px transparent; }
#select_lang_panel { width: 230px; position: absolute; left: 50%; margin-left: -135px; background-color: rgba(0, 0, 0, 0.9); z-index: 999; top: 164px; padding: 20px; border-radius: 4px; border: 1px solid rgb(255, 255, 255); font-size: 18px; display: none; }
#select_lang_panel_arrow { background: url('lang_select_brace.png') no-repeat scroll center top / 2000px 26px transparent; height: 26px; margin: -46px 0px 25px -1px; width: 230px; }
#select_lang_panel ul { list-style: none outside none; padding: 0px; margin: 0px; }
#select_lang_panel ul li { margin-bottom: 8px; }
.big_lang_icon_en:before { content: ""; display: block; background: url('../img/icons@2x.png') no-repeat scroll -498px -174px / 550px 500px transparent; width: 41px; height: 41px; float: left; vertical-align: middle; }
.big_lang_icon_ru:before { content: ""; display: block; background: url('../img/icons@2x.png') no-repeat scroll -498px -222px / 550px 500px transparent; width: 41px; height: 41px; float: left; vertical-align: middle; }
.big_lang_icon_et:before { content: ""; display: block; background: url('../img/icons@2x.png') no-repeat scroll -498px -270px / 550px 500px transparent; width: 41px; height: 41px; float: left; vertical-align: middle; }
.lang_name { margin-left: 10px; padding-top: 20px; vertical-align: middle; }
.lang_list_item { padding: 8px 0px 16px 8px; border-radius: 15px; margin: 0px; font-weight: normal; color: rgb(255, 255, 255); transition: all 0.2s ease 0s; -moz-box-sizing: border-box; text-decoration: none; border: 1px solid transparent; cursor: pointer; }
.lang_list_item_selected { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); }
.lang_list_item:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3); color: rgb(255, 213, 0); transition: all 0.2s ease 0s; border: 1px solid rgba(255, 255, 255, 0.5); }
.lang_list_item_selected:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.5); color: rgb(255, 255, 255); }
#site_logo { cursor: pointer; }
 
#footer { margin-top: 80px; position: absolute; bottom: 0px; height: 50px; margin-left: 30px; }
.grey_text { color: rgb(183, 181, 182); }
#footer .grey_text { margin-right: 12px; }
 
.ruble_sign { font-family: 'Rouble'; }
.rating_star { width: 22px; height: 22px; background: url('../img/icons@2x.png') no-repeat scroll -348px -463px / 550px 500px transparent; padding-right: 4px; display: inline-block; }
.rating_star_full { background-position: -348px -415px ! important; }
.rating_star_half { background-position: -348px -439px ! important; }
.sections_header { overflow: hidden; position: relative; z-index: 10; }
.section_tab { display: inline-block; width: 50%; margin: 0px; padding: 10px 0px 7px; float: left; text-align: center; }
.right_tab_inactive { background-color: rgb(116, 76, 128); border-radius: 0px 0px 0px 10px; border: 0px solid rgb(0, 0, 0); box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.75) inset; }
#new_section_popup { z-index: 999; position: absolute; background: none repeat scroll 0% 0% rgb(0, 0, 0); right: 50px; top: 60px; padding: 20px; border-radius: 12px; border: 1px solid rgb(255, 255, 255); text-align: center; }
#new_section_popup_arrow { background: url('brace_short_up_100@2x.png') no-repeat scroll center top / 50px 25px transparent; height: 25px; margin: -45px 0px 20px 100px; width: 100px; }
@media only screen and (max-device-width: 768px) {
}

 

.auth_block {
    margin-bottom: 4em;
    width: 100%;
}
.auth_block .local_header {
    display: inline-block;
    margin-left: 7em;
    text-align: left;
    width: 20em;
}
.auth_block h3 {
    display: inline-block;
    margin: 0 0 2em 9px;
    text-align: center;
}
.password_reset {
    text-align: center;
}
.password_reset input, .password_reset .round_button, .delivery_form input, .delivery_form .round_button, .profile input, .auth_block .round_button, .auth_block input {
    width: 20em;
}
.password_reset .round_button, .profile .round_button, .auth_block .round_button, .delivery_form .round_button {
    margin-top: 1em;
}
.password_reset .field_error, .profile .field_error, .auth_block .field_error, .delivery_form .field_error {
    color: #FFD500;
    font-size: 80%;
    position: absolute;
    right: 10px;
    top: 35px;
}
.password_reset .field, .profile .field, .delivery_form .field, .auth_block .field {
    clear: both;
    margin: 0;
    padding-bottom: 2.3em;
    position: relative;
}
.password_reset .label, .delivery_form .label, .auth_block .label {
    display: inline-block;
    text-align: left;
    width: 6em;
}
.delivery_form .label {
    width: 8em;
}
.password_reset .input, .profile .input, .delivery_form .input, .auth_block .input {
    display: inline-block;
    position: relative;
}
.password_reset .input, .auth_block .input {
    margin-left: 1em;
}
.auth_block .login {
    -moz-box-sizing: border-box;
    float: left;
    padding-right: 3%;
    position: relative;
    text-align: right;
    width: 47%;
}
.auth_block .login a {
    margin-right: 1em;
}

.auth_block .login:after {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    content: "";
    height: 67%;
    position: absolute;
    right: 0;
    top: 5em;
    width: 1px;
}
.auth_block .registration {
    -moz-box-sizing: border-box;
    overflow: auto;
    padding-left: 3%;
}
.auth_block .hidden {
  display: none;
}

.password_reset .round_button, .auth_block .registration .round_button {
    margin-left: 7em;
}
.password_reset input, .password_reset .round_button, .delivery_form input, .delivery_form .round_button, .profile input, .auth_block .round_button, .auth_block input {
    width: 20em;
}
.password_reset .round_button, .profile .round_button, .auth_block .round_button, .delivery_form .round_button {
    margin-top: 1em;
}
.password_reset .field_error, .profile .field_error, .auth_block .field_error, .delivery_form .field_error {
    color: #FFD500;
    font-size: 80%;
    position: absolute;
    right: 10px;
    top: 35px;
}
.password_reset .field, .profile .field, .delivery_form .field, .auth_block .field {
    clear: both;
    margin: 0;
    padding-bottom: 2.3em;
    position: relative;
}
.password_reset .label, .delivery_form .label, .auth_block .label {
    display: inline-block;
    text-align: left;
    width: 6em;
}
.delivery_form .label {
    width: 8em;
}
.password_reset .input, .profile .input, .delivery_form .input, .auth_block .input {
    display: inline-block;
    position: relative;
}
.password_reset .input, .auth_block .input {
    margin-left: 1em;
}
#delivery_form{
      margin: 0 auto;
    width: 36em;
}